*{
padding: 0%;
}
body{
    margin:  0px;
    padding: 0px;
}
header{
    text-align: center;
    margin: 0px;
    background-color: rgba(48, 48, 48, 0.205);
}
.grd{
    font-size: 3rem;
    background: linear-gradient(45deg, aqua, blue);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:inline;
}
.headbtn{
    height: 30px;
    width: 90px;
    margin:40px;
    padding: 3px;
    border:0px;
    border-radius: 5px;
    color: black;
    background-color: rgb(166, 182, 202);
    display: inline-block;
    text-decoration: none;
}
.headbtn:hover{
    background: radial-gradient(white, rgb(141, 140, 140))

}
.dvcon{
    display: inline;
    background-image: linear-gradient(rgb(199, 199, 199),white);
    color:red;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  /*top: 0;  Stay at the top */
  left: 0;
  background-color:rgba(0, 0, 0, 0.37); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 20px;
  text-align: center;
  color: #000000;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 .sbarimg{
   height: 25%;
   width:85%;
   margin: 15px;
 }
 .sbarimg:hover{
   opacity:0.7;
 }